
:root {
    margin-top: 2cm;
}

#sidebar,
#menu-bar,
.nav-chapters,
.mobile-nav-chapters {
    display: none;
}

#page-wrapper.page-wrapper {
    transform: none;
    margin-left: 0px;
    overflow-y: initial;
}

#content {
    max-width: none;
    margin-left: 2cm;
    margin-right: 1cm;
    color: black;
}

.page {
    overflow-y: initial;
}

html {
    font-family: "Hoefler Text", serif;
    color: black;
    background-color: white;
}

body {
    font-size: 1.5rem;
}

code {
    background-color: #666666;
    border-radius: 5px;

    /* Force background to be printed in Chrome */
    -webkit-print-color-adjust: exact;
}

pre > .buttons {
    z-index: 2;
}

a, a:visited, a:active, a:hover {
    color: #4183c4;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    break-inside: avoid;
    break-after: avoid;
    font-family: "Avenir", sans-serif;
}

h1 {
    break-before: page;
    /* margin-top does not work after a page break. Perhaps there is an answer on
    https://stackoverflow.com/questions/9519841/why-does-this-css-margin-top-style-not-work#9519933 but I do not have the patience to hunt this down right now. Unfortunately "normal" page breaks will not have a margin at the top of the page. Sigh. */
    padding-top: 1cm;
}

h2, h3 { margin-top: 0.5em; }
h4, h5 { margin-top: 0em; }

p, ul, pre, code {
    page-break-inside: avoid;
    white-space: pre-wrap;
}

.fa {
    display: none !important;
}
